html{
  background-image: linear-gradient(#BA8B02, #181818);
  height: 160%;
  overflow: hidden;
}

.all{
  text-align: center;
}

.info{
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

}
.button{
  height: 6%;
  width: 6%;
}
p{
  font-size: 30px;
  color: gray;
}
.pinf{
  color: black;
}

.buttons{
  margin: 40px;
}


.cookie1{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 359px) {
  .info{
    display: block;
  }
  .button{
    height: 30%;
    width: 30%;
  }
  html{
    overflow: scroll;
  }
}

@media screen and (min-width: 360px) and (max-width: 968px) {
  .button{
    height: 20%;
    width: 20%;
  }
  p{
    font-size: 20px;
  }
  .cookie1{
    width: 75%;
  }
  html{
    overflow: scroll;
  }
}
